<!DOCTYPE html>
<html>
<head>
  <title>Day 35 Assignment - Kyle Deen</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="default.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript">

		$(document).ready(function() {
            
            $("#load-all-btn").click(function() {
                $.ajax({
        		    url: "http://localhost:8080/students"
    		    }).then(function(data) {
                    for(var i = 0; i < data.length; i++) {
                    $("<tr id=" + data[i].id + ">" +
                    "<td>" + data[i].id + "</td>" +
                    "<td>" + data[i].first_name + "</td>" +
                    "<td>" + data[i].last_name + "</td>" +
                    "<td>" + data[i].sat + "</td>" +
                    "<td>" + data[i].gpa + "</td>" +
                    "<td>" + data[i].major_id + "</td>" +
                    "<td><span class='glyphicon glyphicon-pencil edit-button'></span></td>" +
                    "<td><span class='glyphicon glyphicon-trash delete-button'></span></td>" +
                    "</tr>").appendTo($("table"))
                    }
                $("<tr><td><span id='add-button' class='glyphicon glyphicon-plus'></span> Add Student</td></tr>").appendTo("table");
    		    }); // end load all ajax call
                $("#load-all-btn").hide();
                $("#load-single-btn").hide();
                $("#id-to-load").hide();
            }); //end load-all click function
            
            $("#load-single-btn").click(function() {
                var id = $("#id-to-load").val();
                $.ajax({
                    url: "http://localhost:8080/student/" + id
                }).then(function(data) {
                    if(data.id != null) {
                        $("<tr id=" + data.id + ">" +
                    "<td>" + data.id + "</td>" +
                    "<td>" + data.first_name + "</td>" +
                    "<td>" + data.last_name + "</td>" +
                    "<td>" + data.sat + "</td>" +
                    "<td>" + data.gpa + "</td>" +
                    "<td>" + data.major_id + "</td>" +
                    "<td><span class='glyphicon glyphicon-pencil edit-button'></span></td>" +
                    "<td><span class='glyphicon glyphicon-trash delete-button'></span></td>" +
                    "</tr>").appendTo($("table"));
                    $("#load-all-btn").hide();
                    $("#student-not-found").hide();
                    } else {
                        $("#student-not-found").show();
                    }
                    
                }); // end load single ajax call
                
            }); // end load-single click function
            
            $("#clear-btn").click(function() {
                location.reload();
            }); // End refresh button

          $(document).on('click','.delete-button',function(){
            var id = $(this).closest('tr').attr('id');
            var conf = confirm("Delete student with ID: " + id + "?");
            if(conf) {
              $.ajax({
                url: "http://localhost:8080/deletestudent/" + id
              }).then(function() {
                location.reload();
              })
            } // end if
          });

          // Update student
          $(document).on('click','.edit-button',function(){
            var id = $(this).closest('tr').attr('id');
            $("#update-form").show();
            $("#student-id").text(id);

            $.ajax({
              		url: "http://localhost:8080/student/" + id
          		}).then(function(data) {
                var id = data.id;
                  $("<input id='fname' type='text' placeholder='First Name' " + "value=" + data.first_name + "></input>" +
                  "<input id='lname' type='text' placeholder='Last Name' " + "value=" + data.last_name + "></input>" +
                  "<input id='sat' type='text' placeholder='SAT Score' " + "value=" + data.sat + "></input>" +
                  "<input id='gpa' type='text' placeholder='GPA' " + "value=" + data.gpa + "></input>" +
                  "<input id='major-id' type='text' placeholder='Major ID' " + "value=" + data.major_id + "></input>" +
                  "<span class='glyphicon glyphicon-ok' id='update-button'>")
                  .appendTo($("#update-form"))
          		});

              $(document).on('click','#update-button',function() {
                var id = $("#student-id").text();
                var conf = confirm("Update student with ID: " + id + "?");
                if(conf) {
                  $.ajax({
                    url: "http://localhost:8080/updatestudent/" + id
                    + "/" + $("#fname").val()
                    + "/" + $("#lname").val()
                    + "/" + $("#sat").val()
                    + "/" + $("#gpa").val()
                    + "/" + $("#major-id").val()
                  }).then(function() {
                    location.reload();
                  });
                } // end if
              }); // end save edit button
          }); //end edit button click

          // Add a student
          $(document).on('click','#add-button',function(){
            $("#add-form").show();

              $(document).on('click','#save-button',function() {
                var conf = confirm("Save student to DB?");
                if(conf) {
                  $.ajax({
                    url: "http://localhost:8080/addstudent/"
                    + $("#add-fname").val()
                    + "/" + $("#add-lname").val()
                    + "/" + $("#add-sat").val()
                    + "/" + $("#add-gpa").val()
                    + "/" + $("#add-major-id").val()
                  }).then(function() {
                    location.reload();
                  });
                } // end if
              }); // end save edit button
          }); //end edit button click



		}); //end ready

	</script>
</head>
<body>
<div id="container">
  <table class="table table-striped">
    <tr>
      <th>Student ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>SAT Score</th>
      <th>GPA</th>
      <th>Major ID</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </table>
  <form id="update-form">
    <span id="student-id"></span>
  </form>
  <br />
  <form id="add-form">
    <span style="font-weight:bold">Add Student:</span>
    <input id="add-fname" type="text" placeholder="First Name"></input>
    <input id="add-lname" type="text" placeholder="Last Name"></input>
    <input id="add-sat" type="text" placeholder="SAT" size="4"></input>
    <input id="add-gpa" type="text" placeholder="GPA" size="4"></input>
    <input id="add-major-id" type="text" placeholder="MajID" size="1"></input>
    <span id="save-button" class="glyphicon glyphicon-ok"></span>
  </form>
  <br />
  <button id="load-all-btn">Load All Students</button>
  <button id="load-single-btn">Load Student by ID: </button>
<input type="number" id="id-to-load" width="5" />
<span style="color:red" id="student-not-found">Student Not Found</span>
&nbsp;&nbsp;<button id="clear-btn">Refresh</button>
</div>
</body>
<script>
  $("#student-not-found").hide();
  $("#update-form").hide();
  $("#add-form").hide();
</script>
</html>
